* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-light: #F1DCD0;
    --background-dark: #4E4135;
}

body {
    /* background-color: var(--background-light); */
    background: linear-gradient(var(--background-light), var(--background-dark));
    /* color:  */
    /* font-family: Al Bayan Bold; */
}