@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Text+Me+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-light: #d6d3c8;
    --background-dark: #4e4135;
}

body {
    /* background color */
    /* background: linear-gradient(to bottom,var(--background-light), var(--background-dark)); */
    background-color: var(--background-light);
    color: var(--background-dark);
    height: 100vh;
  
    /* font */
    font-family: "Text Me One", serif;
    font-weight: 400;
    font-style: normal;
}

/* landing page styling */
.landing {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-items: center;
    align-items: center;
    margin: 50px 10vw;
}
  
.image-container {
    width: 80%;
    aspect-ratio: 3 / 4;
    overflow: hidden;
}
  
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: slideDown 1s ease-out;
}

/* landing page animation */
@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* table styling */
table {
    width: 80%;
    padding: 10vh;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}
  
table caption {
    font-size: 30px;
    color: var(--background-dark);
}
  
th {
    background-color: var(--background-dark);
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}
  
td {
    padding: 10px;
    text-align: center;
    color: var(--background-dark);
    /*   border-bottom: 1px solid var(--background-light); */
}
  
td a {
    color: var(--background-dark);
}

/* footer styling */
footer {
    text-align: center;
    background-color: var(--background-dark);
    color: white;
    position: relative;
    bottom: 0;
    width: 100vw;
    line-height: 2;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}